<div class="main_menu navbar-fixed">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="mb">
                <div class="navmobile"><a href=""></a></div>
                <ul class="nav-menu">
                    <li class="menuItem"><a href="{{ path('homepage') }}#home">{{ 'homepage'|trans }}</a></li>

                    {% for section in ["speakers","schedule","sponsors"] %}
                        {% if section_bag.isSectionEnabled(section) %}
                            {# Item de la sección, solo si está habilitado#}
                            <li class="menuItem"><a href="{{ path('homepage') }}#{{ section }}">{{ section|trans }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li class="menuItem"><a href="{{ path('homepage') }}#location">{{ "location"|trans }}</a></li>

                    <!-- <li class="menuItem"><a href="#pricing">Precio</a></li> -->
                    {% if section_bag.isSectionEnabled('registration') %}
                        <li class="register"><a href="" data-reveal-id="RegisterModal">{{ 'register'|trans }}</a></li>
                    {% else %}
                        <li class="soldout">{{ 'soldout'|trans }}</li>
                    {% endif %}

                    {% for _lang in ["en", "es"] %}
                        {% if _lang != app.locale %}
                            <li class="language">
                                <a href="{{ path('homepage', {"_locale": _lang}) }}">{{ _lang|upper }}</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
