<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ "schedule"|trans }}</h2>

                <h3>{{ "schedule_tbc"|trans }}</h3>
            </div>

            <div class="panel radius text-center" style="font-size: 1.3em;">
                <i class="fa fa-clock-o"></i> 9:00 - {{ 'registration'|trans }}
            </div>

            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                {% for room_schedule in schedule_info %}
                    <li>
                        <div class="schedule-body">
                            <div class="event-header">
                                <div class="day">
                                    {{ room_schedule.room_name }}
                                </div>
                                {#
                                <div class="title">
                                    {{ room_schedule.title|trans }}
                                </div>
                                #}
                            </div>
                            <div class="content">
                                <dl class="accordion" data-accordion>
                                    {% for schedule in room_schedule.schedule %}
                                        <dd class="accordion-navigation" {% if schedule.break|default(false) %}style="min-height:85px"{% endif %}>
                                            <a href="#panel{{ loop.parent.loop.index }}_{{ loop.index }}" {% if schedule.break|default(false) %}class="highlight"{% endif %}>
                                                {% if schedule.speaker is defined and speakers[schedule.speaker].avatar is defined %}
                                                    <div class="large-2 right">
                                                        <img src="{{ speakers[schedule.speaker].avatar }}" width="60" height="60" class="avatar" alt="avatar">
                                                    </div>
                                                {% endif %}

                                                <div class="event-time large-8">
                                                    <i class="fa fa-clock-o"></i>{{- schedule.time -}}
                                                </div>
                                                {% if schedule.speaker is defined and speakers[schedule.speaker].avatar is defined %}
                                                    <div class="event-speaker large-8">
                                                        <i class="fa fa-user"></i> {{- speakers[schedule.speaker].name -}}
                                                    </div>
                                                {% endif %}
                                                {% if schedule.level is defined %}
                                                    <div class="event-level large-8">
                                                        <i class="fa fa-university"></i> {{- schedule.level|trans -}}
                                                    </div>
                                                {% endif %}
                                                <div class="event-title large-12">{{ schedule.title|trans({}, 'talks') }}</div>
                                                <span class="clear"></span>
                                            </a>

                                            {% if schedule.description is defined %}
                                                <div id="panel{{ loop.parent.loop.index }}_{{ loop.index }}" class="content">
                                                    {{ schedule.description|trans({}, 'talks') }}
                                                </div>
                                            {% endif %}
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
