{% macro charla(key, talk, speaker) %}
    {%- spaceless -%}
        <a href="" data-reveal-id="talk-{{ key }}" class="event-title center-content">
            {{- talk.title -}}
        </a>

        <div id="talk-{{ key }}" class="reveal-modal medium event-detail" data-reveal>
            <div class="row">
                <div class="columns small-9">
                    <h3>{{ talk.title }}</h3>

                    {% if speaker is not empty %}
                        <div>
                            <i class="fa fa-user"></i> {{ speaker.name -}}
                        </div>
                    {% endif %}

                    {% if talk.level is not empty %}
                        <div>
                            <i class="fa fa-university"></i> {{ talk.level|trans -}}
                        </div>
                    {% endif %}
                </div>
                {% if speaker is not empty %}
                    <div class="columns small-3 text-right">
                        <img src="{{ speaker.avatar }}" class="avatar radius" alt="avatar" data-tooltip title="{{- speaker.name -}}">
                    </div>
                {% endif %}
            </div>
            <div class="row event-description">
                <p class="column small-12 text-justify">{{ talk.description }}</p>
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    {%- endspaceless -%}
{% endmacro %}


<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ "schedule"|trans }}</h2>

                <div data-alert class="alert-box radius warning">{{ "schedule_tbc"|trans }}</div>
            </div>

            <table role="grid" class="event-grid">
                <thead>

                    <tr>
                        <th width="12%" id="schedule-times" class="center-content">
                            <i class="fa fa-clock-o"></i>
                        </th>

                        {% set column_width = (100 - 12) / (schedule_info.rooms|length) %}
                        {% for room in schedule_info.rooms %}
                            <th width="{{ column_width }}%" class="center-content">{{ room.room_name }}</th>
                        {% endfor %}
                    </tr>

                </thead>
                <tbody>
                    {% for time, schedule in schedule_info.schedules %}
                        <tr>
                            <th headers="schedule-times" class="event-time center-content">{{ time }}</th>

                            {% for content in schedule %}

                                {% if content.talk is defined %}

                                    {# Hay una charla definida para este horario en esta sala #}
                                    {% set speakerInfo = schedule_info.talks[content.talk].speaker is defined ? speakers[schedule_info.talks[content.talk].speaker] : null %}
                                    <td>{{- _self.charla(content.talk, schedule_info.talks[content.talk], speakerInfo) -}}</td>

                                {% else %}

                                    {# Charla no definida #}
                                    <td rowspan="{{ content.blocks }}" class="center-content">
                                        <i class="fa fa-question"></i>
                                    </td>

                                {% endif %}

                            {% else %}

                                {# texto de acreditacion o break #}
                                <td colspan="{{ schedule_info.rooms|length }}" class="center-content">
                                    <strong>{{- schedule|trans({}, 'talks') -}}</strong>
                                </td>

                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
