{% extends "layout_small.html.twig" %}

{% form_theme cfp_form "_partials/form_theming.html.twig" _self %}

{% macro error_class(form) %}
    {%- if form.vars.errors|length > 0 %}error{% endif -%}
{% endmacro %}

{%- block og_title -%}{{ 'cfp.og_title'|trans|escape("html_attr") }}{%- endblock -%}
{%- block og_description -%}{{ 'cfp.description.header'|trans|escape("html_attr") }}{%- endblock -%}

{% block content %}
    <article>
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ 'cfp.title'|trans }}</h1>

                {% for message in messages %}
                    <div class="alert-box {{ message.type }}">
                        {{ message.msg }}
                    </div>
                {% endfor %}

                <p>
                    {{ 'cfp.description.header'|trans }}
                    <br/>
                    {{ 'cfp.description.topics'|trans }}
                </p>

                <ul class="columns-3-large-up columns-2-medium-only">
                    <li>Frameworks</li>
                    <li>DevOps</li>
                    <li>CMS</li>
                    <li>APIs</li>
                    <li>{{ 'cfp.topics.db' | trans }} (SQL/NoSQL)</li>
                    <li>Frontend (JavaScript, CSS)</li>
                    <li>Testing</li>
                    <li>Performance</li>
                    <li>Microservices</li>
                    <li>Real time</li>
                    <li>PHP 7, HHVM</li>
                </ul>

                <p>{{ 'cfp.description.footer'|trans|nl2br }}</p>

                <form action="{{ path('cfp') }}" method="post" novalidate>
                    {{ form_widget(cfp_form) }}

                    <button class="btn-default" type="submit">{{ 'submit'|trans }}</button>
                </form>
            </div>
        </div>
    </article>
{% endblock %}


{% block cfp_widget %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="large-4 medium-6 columns {{ _self.error_class(form.name) }}">
            {{ form_row(form.name) }}
        </div>
        <div class="large-4 medium-6 columns {{ _self.error_class(form.email) }}">
            {{ form_row(form.email) }}
        </div>

        <div class="large-2 medium-3 small-6 columns {{ _self.error_class(form.country) }}">
            {{ form_row(form.country) }}
        </div>

        <div class="large-2 medium-3 small-6 columns end {{ _self.error_class(form.twitter) }}">
            {{ form_row(form.twitter) }}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="small-8 columns {{ _self.error_class(form.title) }}">
            {{ form_row(form.title) }}
        </div>

        <div class="small-4 columns {{ _self.error_class(form.level) }}">
            {{ form_row(form.level) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns {{ _self.error_class(form.description) }}">
            {{ form_row(form.description,{"attr": {"rows": 4}}) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns small-note">* {{ 'cfp.travel_cost_note'|trans }}</div>
    </div>

    {{ form_rest(form) }}
{% endblock %}
