{% extends "layout_small.html.twig" %}

{% form_theme cfp_form "_partials/form_theming.html.twig" %}

{% macro error_class(form) %}
    {%- if form.vars.errors|length > 0 %}error{% endif -%}
{% endmacro %}

{% block content %}
    <article>
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ 'cfp.title'|trans }}</h1>

                <p>{{ 'cfp.description'|trans }}</p>

                <form action="{{ path('cfp') }}" method="post" novalidate>
                    {{ form_errors(cfp_form) }}

                    {% for message in messages %}
                        <div class="alert-box {{ message.type }}">
                            {{ message.msg }}
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="large-5 medium-4 columns {{ _self.error_class(cfp_form.name) }}">
                            {{ form_row(cfp_form.name) }}
                        </div>
                        <div class="large-5 medium-5 small-8 columns {{ _self.error_class(cfp_form.email) }}">
                            {{ form_row(cfp_form.email) }}
                        </div>
                        <div class="large-2 medium-3 small-4 columns {{ _self.error_class(cfp_form.level) }}">
                            {{ form_row(cfp_form.level) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-5 medium-4 columns {{ _self.error_class(cfp_form.title) }}">
                            {{ form_row(cfp_form.title) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns {{ _self.error_class(cfp_form.description) }}">
                            {{ form_row(cfp_form.description,{"attr": {"rows": 4}}) }}
                        </div>
                    </div>

                    {{ form_rest(cfp_form) }}
                    <button class="btn-default" type="submit">{{ 'submit'|trans }}</button>
                </form>
            </div>
        </div>
    </article>
{% endblock %}



