{% extends "layout_small.html.twig" %}

{% form_theme cfp_form "_partials/form_theming.html.twig" _self %}

{% macro error_class(form) %}
    {%- if form.vars.errors|length > 0 %}error{% endif -%}
{% endmacro %}

{% block content %}
    <article>
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ 'cfp.title'|trans }}</h1>

                <p>{{ 'cfp.description'|trans }}</p>

                <form action="{{ path('cfp') }}" method="post" novalidate>
                    {% for message in messages %}
                        <div class="alert-box {{ message.type }}">
                            {{ message.msg }}
                        </div>
                    {% endfor %}

                    {{ form_widget(cfp_form) }}

                    <button class="btn-default" type="submit">{{ 'submit'|trans }}</button>
                </form>
            </div>
        </div>
    </article>
{% endblock %}


{% block cfp_widget %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="large-5 medium-4 columns {{ _self.error_class(form.name) }}">
            {{ form_row(form.name) }}
        </div>
        <div class="large-5 medium-5 small-8 columns {{ _self.error_class(form.email) }}">
            {{ form_row(form.email) }}
        </div>
        <div class="large-2 medium-3 small-4 columns {{ _self.error_class(form.level) }}">
            {{ form_row(form.level) }}
        </div>
    </div>

    <div class="row">
        <div class="large-5 medium-4 columns {{ _self.error_class(form.title) }}">
            {{ form_row(form.title) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns {{ _self.error_class(form.description) }}">
            {{ form_row(form.description,{"attr": {"rows": 4}}) }}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}
