{% spaceless %}
<!doctype html>
<html dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>PHPday.uy 2015</title>
        <meta name="description" content="Primer PHP day en Uruguay">
        <meta name="author" content="Grupo de usuarios de PHP de Montevideo">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico"/>

        <!-- Mobile Specific Meta -->
        <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/css/vendors.css"/>
        <link type="text/css" rel="stylesheet" href="/style.css"/>

        <link rel="icon" type="image/png" href="/images/icons/favicon.64.png">

        <!-- Open graph -->
        <meta property="og:site_name" content="PHP day 2015"/>
        <meta property="og:title" content="{%- block og_title -%}{{ 'banner_motto'|trans|escape("html_attr") }}{%- endblock -%}" />
        <meta property="og:description" content="{%- block og_description -%}{{ 'banner_description'|trans|escape("html_attr") }}{%- endblock -%}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ app.request.getUri() }}" />
        <meta property="og:image" content="{{ app.request.getUriForPath('/images/bg_banner.jpg') }}" />
        <meta property="og:updated_time" content="{{ app.build_time }}" />
    </head>
    <body>
        {% block navbar %}
            {% include "_partials/navbar.html.twig" %}
        {% endblock %}

        {% if section_bag.isSectionEnabled('registration') %}
            <!-- Reveal Modals begin -->
            <div id="RegisterModal" class="reveal-modal small" data-reveal>
                <h3>{{ 'register'|trans }}</h3>

                <iframe src="http://www.eventbrite.com/tickets-external?eid=17307076933&ref=etckt&v=2"
                    frameborder="0"
                    height="280"
                    width="100%"
                    vspace="0"
                    hspace="0"
                    marginheight="5"
                    marginwidth="5"
                    scrolling="no"
                    allowtransparency="true"
                    ></iframe>

                <a class="close-reveal-modal">&#215;</a>
            </div>
        {% endif %}

        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}

        {% block footer %}
        {% include "_partials/footer.html.twig" %}
        {% endblock %}

        {% block extra_assets %}
            <!-- Google Map Configuration -->

            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <script src="/js/vendors.js"></script>
            <script src="/js/base.js"></script>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-63704988-1', 'auto');
                  ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
